[flake8]
ignore =
    D200
    D204
    D205
    D400
    D401
    D402
    E126
    E201
    E202
    # Flake8 is not PEP-8 compliant for slice syntax, but black is.
    E203
    E303
    E305
    E402
    # Ignore line length limits as these are handled by black.
    E501
    W391
    W503
    W504
exclude =
    .git,
    __pycache__,
    .eggs,
    *.egg-info,
    build,
    venv,
    .venv
