version: 2.1

executors:
    python3_6:
        docker:
            - image: cimg/python:3.6

    python3_7:
        docker:
            - image: cimg/python:3.7

    python3_8:
        docker:
            - image: cimg/python:3.8

    python3_9:
        docker:
            - image: cimg/python:3.9

    python3_10:
        docker:
            - image: cimg/python:3.10

jobs:
    lint:
        parameters:
            executor:
                type: executor
        executor: << parameters.executor >>
        working_directory: ~/runeq-python/
        steps:
            - checkout:
                path: ~/runeq-python
            - run:
                command: make init lint

    test:
        parameters:
            executor:
                type: executor
        executor: << parameters.executor >>
        working_directory: ~/runeq-python/
        steps:
            - checkout:
                  path: ~/runeq-python
            - run:
                  command: make init test-coverage
                  environment:
                      LD_LIBRARY_PATH: /usr/local/lib
            - store_test_results:
                  path: test-reports
            - store_artifacts:
                  path: htmlcov

    docs:
        parameters:
            executor:
                type: executor
        executor: << parameters.executor >>
        working_directory: ~/runeq-python/
        steps:
            - checkout:
                path: ~/runeq-python
            - run:
                name: Build docs
                command: |
                    make init build-docs
                    tar -cvf docs/html_docs.tar docs/_build/html
            - store_artifacts:
                path: docs/html_docs.tar

    build-pypi:
        parameters:
            executor:
                type: executor
        executor: << parameters.executor >>
        working_directory: ~/runeq-python/
        steps:
            - checkout:
                path: ~/runeq-python
            - run:
                command: make init build-dist
            - store_artifacts:
                path: dist/

workflows:
    version: 2
    runeq:
        jobs:
            - lint:
                matrix:
                    parameters:
                        executor: ["python3_10"]
            - test:
                matrix:
                    parameters:
                        executor: ["python3_6", "python3_7", "python3_8", "python3_9", "python3_10"]
            - docs:
                matrix:
                    parameters:
                        executor: ["python3_10"]
